<ul>
{% assign tl = site.data.timeline[page.race] %}
    {% for race in tl.race_start %}
    <li>{{race[1]}} {{race[0]}} Race Start</li>
    {% endfor %}
{% for aid in page.aids %}
    {% if page.aids.size > 2 %}
    <li>
      <b>{{tl.aids[aid]}}</b>
      <ul>
        <li>{{tl.course_record[aid]}} {{tl.aids[aid]}} First Runner</li>
        {% if tl.cutoffs[aid] %}
        <li>{{tl.cutoffs[aid]}} {{tl.aids[aid]}} Cutoff</li>
        {% else %}
        <li>{{tl.last_runner[aid]}} {{tl.aids[aid]}} Last Runner</li>
        {% endif %}
      </ul>
    </li>
    {% else %}
    <li>{{tl.course_record[aid]}} {{tl.aids[aid]}} First Runner</li>
    {% if tl.cutoffs[aid] %}
    <li>{{tl.cutoffs[aid]}} {{tl.aids[aid]}} Cutoff</li>
    {% else %}
    <li>{{tl.last_runner[aid]}} {{tl.aids[aid]}} Last Runner</li>
    {% endif %}
    {% endif %}
{% endfor %}
</ul>
