<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" integrity="sha512-zb2pp+R+czM7GAemdSUQt6jFmr3qCo6ikvBgVU6F5GvwEDR0C2sefFiPEJ9QUpmAKdD5EqDUdNRtbOYnbF/eyQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    </head>
    <body>
        <section style="width: 90%; margin: 0 auto;">
            {{ content }}
        </section>
        <footer style="margin-top: 2em; border-top: 2px solid; width: 100%;">
            &copy; 2018-2023 Freestone Endurance
        </footer>
    </body>
</html>
