{% assign roster = site.data.rosters[page.race] %}
{% assign total = roster | size %}
{% assign half = total | plus: 1 | divided_by: 2 %}
{% assign right_len = total | minus: half %}
{% assign left = roster | slice: 0, half %}
{% assign right = roster | slice: half, right_len %}

<div class="roster-cols">
  {% include forms/roster-table.html rows=left %}
  {% include forms/roster-table.html rows=right %}
</div>

<h3 class="new-runners-title">New Runners</h3>
<table class="new-runners">
  <thead>
    <tr>
      <th>Bib</th>
      <th>Time IN</th>
      <th>Pacer In?</th>
      <th>Time OUT</th>
      <th>Pacer Out?</th>
    </tr>
  </thead>
  <tbody>
    {% for i in (1..8) %}
    <tr>
      <td></td>
      <td></td>
      <td class="check"><span class="checkbox"></span></td>
      <td></td>
      <td class="check"><span class="checkbox"></span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
